body {
  color: #2c3c42;
  background-color: #44565d;
}

h1 {
  color: #fff;
}

h2 {
  margin-top: 2px;
}

.divider {
  margin-bottom: 2em;
}

.keg-list, .new-keg {
  background-color: #fff;
}

.keg-list {
  padding-bottom: .5em;
  margin-bottom: 1em;
}

.collection {
  margin-bottom: 0px;
}

.keg-list-header {
  padding: 1em;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.price-high {
  color: #e0c451;
}

.price-low {
  color: #afafaf;
}

.abv-high {
  color: #b52727;
}

.abv-med {
  color: #3333a2;
}

.abv-low {
  color: green;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #5e8594 !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #5e8594 !important;
}

#edit-keg input:focus, #new-keg input:focus {
  border-bottom: 1px solid #ffb502;
  -webkit-box-shadow: 0 1px 0 0 #ffb502;
  -moz-box-shadow: 0 1px 0 0 #ffb502;
  box-shadow: 0 1px 0 0 #ffb502;
}

#keg-details {
  margin-top: 0px;
}

#keg-details strong {
  font-weight: bold;
}

.new-keg {
  padding: 1em;
}
