body {
  color: #2c3c42;
  background-color: #44565d;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #fff;
}

h2 {
  margin-top: 2px;
  font-size: 30px;
}

.divider {
  margin-bottom: 2em;
}

.keg-list, .new-keg {
  background-color: #fff;
}

.keg-list {
  padding-bottom: .5em;
  margin-bottom: 1em;
}

.collection {
  margin-bottom: 0px;
}

.keg-list-header {
  padding: 1em;
}

.first-col {
  padding-left: .7em;
}

.icon-col {
  text-align: center;
}

.clickable:hover {
  cursor: pointer;
}

.price-high {
  color: #e0c451;
}

.price-low {
  color: #afafaf;
}

.abv-high {
  color: #b52727;
}

.abv-med {
  color: #3333a2;
}

.abv-low {
  color: green;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #5e8594 !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #5e8594 !important;
}

#edit-keg input:focus, #new-keg input:focus {
  border-bottom: 1px solid #dd7b20;
  -webkit-box-shadow: 0 1px 0 0 #dd7b20;
  -moz-box-shadow: 0 1px 0 0 #dd7b20;
  box-shadow: 0 1px 0 0 #dd7b20;
}

#keg-details, .edit-keg, #happy-hour {
  margin-top: 0px;
}

#keg-details strong, #happy-hour strong {
  font-weight: bold;
}

#happy-hour-pricing {
  padding-left: .4rem;
  font-size: 12px;
  color: #dd7b20;
}

.new-keg {
  padding: 1em;
}

#happy-hour-active {
  font-size: 18px;
  color: #dd7b20;
}
