.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.price-high {
  color: #e0c451;
}

.price-low {
  color: #afafaf;
}

.abv-high {
  color: #b52727;
}

.abv-med {
  color: #3333a2;
}

.abv-low {
  color: green;
}
